@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-basic: sans-serif;
  --font-primary: "Saira", sans-serif;
  --font-fancy: "Cinzel", serif;
  --font-bangla: "Hind Siliguri", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(4.76% 0.005 55.06);
  --card: oklch(1 0 0);
  --card-foreground: oklch(4.76% 0.005 55.06);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(4.76% 0.005 55.06);
  --primary: oklch(64.41% 0.229 264.48);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(94.912% 0.00011 271.152);
  --secondary-foreground: oklch(64.41% 0.229 264.48);
  --muted: oklch(94.912% 0.00011 271.152);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(62.545% 0.10907 276.75);
  --accent-foreground: oklch(64.41% 0.229 264.48);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(87.948% 0.02854 222.473);
  --input: oklch(64.41% 0.229 264.48);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(100% 0 0);
  --sidebar-foreground: oklch(4.76% 0.005 55.06);
  --sidebar-primary: oklch(64.41% 0.229 264.48);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(61.38% 0.078 53.33);
  --sidebar-accent-foreground: oklch(64.41% 0.229 264.48);
  --sidebar-border: oklch(64.41% 0.229 264.48);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(24.816% 0.00189 286.046);
  --foreground: oklch(100% 0 0);
  --card: oklch(30.195% 0.00359 286.048);
  --card-foreground: oklch(100% 0 0);
  --popover: oklch(35.741% 0.04259 273.261);
  --popover-foreground: oklch(100% 0 0);
  --primary: oklch(64.41% 0.229 264.48);
  --primary-foreground: oklch(58.731% 0.16195 253.573);
  --secondary: oklch(20.904% 0.00002 271.152);
  --secondary-foreground: oklch(100% 0 0);
  --muted: oklch(20.904% 0.00002 271.152);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(64.001% 0.07977 242.992);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(58.731% 0.16195 253.573);
  --sidebar-foreground: oklch(100% 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(64.001% 0.07977 242.992);
  --sidebar-accent-foreground: oklch(100% 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.active {
  text-decoration: underline;
}
